In [2]:
#the thing you want to do with each item 
rabbit = [1,1] #start with the first two items 1,1 
offspring = 3 
n = 6
for i in range(0,n):    #list the generations you want to go through (1-6) - loop through them 
    p = rabbit[i+1] + rabbit[i]*offspring #equation: i+1 in list + (i-2)*offspring 
    rabbit.append(p) #append item on end of list 
print(rabbit)

[1, 1, 4, 7, 19, 40, 97, 217]

In [31]:
import pandas as pd

In [4]:
Gen = [-1,0,1,2,3,4,5,6]
Month = [-6,0,6,12,18,24,30,36]

In [5]:
mynewlist = list()
rabbit_df = pd.DataFrame({'Gen':Gen,
                          'Month':Month,
                          'Rabbits':rabbit
                         })

In [6]:
rabbit_df

   Gen  Month  Rabbits
0   -1     -6        1
1    0      0        1
2    1      6        4
3    2     12        7
4    3     18       19
5    4     24       40
6    5     30       97
7    6     36      217

In [7]:
rabbit_df.columns

Index(['Gen', 'Month', 'Rabbits'], dtype='object')

In [8]:
rabbit_df.index

RangeIndex(start=0, stop=8, step=1)

In [9]:
list(rabbit_df.columns)

['Gen', 'Month', 'Rabbits']

In [10]:
rabbit_df.Rabbits

0      1
1      1
2      4
3      7
4     19
5     40
6     97
7    217
Name: Rabbits, dtype: int64

In [11]:
rabbit_df['Rabbits']

0      1
1      1
2      4
3      7
4     19
5     40
6     97
7    217
Name: Rabbits, dtype: int64

In [19]:
type(rabbit_df['Rabbits'])

pandas.core.series.Series

In [21]:
rabbit_df[2:4]

   Gen  Month  Rabbits
2    1      6        4
3    2     12        7

In [23]:
rabbit_df.iloc[2:4, :2]

   Gen  Month
2    1      6
3    2     12

In [24]:
rabbit_df.loc[2:4, 'Gen':'Month']

   Gen  Month
2    1      6
3    2     12
4    3     18

In [25]:
rabbit_df.loc[rabbit_df.Rabbits > 100]

   Gen  Month  Rabbits
7    6     36      217

In [26]:
rabbit_df.loc[rabbit_df.Rabbits > 100, ['Month']]

   Month
7     36

In [27]:
print(rabbit_df)

   Gen  Month  Rabbits
0   -1     -6        1
1    0      0        1
2    1      6        4
3    2     12        7
4    3     18       19
5    4     24       40
6    5     30       97
7    6     36      217

In [28]:
rabbit_df.to_csv('rabbits_df.csv')

In [30]:
Gen*6 #generates 6 of this list

[-1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6,
 -1,
 0,
 1,
 2,
 3,
 4,
 5,
 6]

In [31]:
rabbit_df['NewMonth'] = rabbit_df['Gen']*6

In [32]:
rabbit_df

   Gen  Month  Rabbits  NewMonth
0   -1     -6        1        -6
1    0      0        1         0
2    1      6        4         6
3    2     12        7        12
4    3     18       19        18
5    4     24       40        24
6    5     30       97        30
7    6     36      217        36

In [15]:
rabbit_df.Index = Month

In [16]:
rabbit_df.loc[-6:12]

   Gen  Month  Rabbits
0   -1     -6        1
1    0      0        1
2    1      6        4
3    2     12        7
4    3     18       19
5    4     24       40
6    5     30       97
7    6     36      217

In [18]:
list(rabbit_df.loc[12])

KeyError: 12

In [19]:
rabbit_dict = {
    -6: 1, 
    0:1
}

In [20]:
rabbit_dict

{-6: 1, 0: 1}

In [21]:
rabbit_dict[-6] #accessing by key prints out value

1

In [34]:
#the thing you want to do with each item 
rabbit = [1,1] #start with the first two items 1,1 
offspring = 3 
n = 6
rabbit_dict = { #by generation 
    0:1,
    1: 1
}

for i in range(0,n):    #list the generations you want to go through (1-6) - loop through them 
    p = rabbit_dict[i+1] + rabbit_dict[i]*offspring #equation: i+1 in list + (i-2)*offspring 
    rabbit_dict[i+2] = p 
print(rabbit_dict)

{0: 1, 1: 1, 2: 4, 3: 7, 4: 19, 5: 40, 6: 97, 7: 217}